repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v1.3.0
  hooks:
  - id: trailing-whitespace
  - id: check-ast
  - id: check-merge-conflict
  - id: fix-encoding-pragma
  - id: flake8
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
- repo: https://github.com/ambv/black
  rev: 22.3.0
  hooks:
  - id: black
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.25.0
  hooks:
  - id: yamllint
    args: ["-d", "relaxed"]
